@model WebInterface.Models.MeterData

<h1 class="mt-4">Create Meter Data</h1>

<form asp-action="CreateMeterData" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="MeterSerialNumber" class="control-label"></label>
        <input asp-for="MeterSerialNumber" class="form-control" />
        <span asp-validation-for="MeterSerialNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MeasurementTime" class="control-label"></label>
        <input asp-for="MeasurementTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="MeasurementTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastIndex" class="control-label"></label>
        <input asp-for="LastIndex" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="LastIndex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Voltage" class="control-label"></label>
        <input asp-for="Voltage" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Voltage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Current" class="control-label"></label>
        <input asp-for="Current" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Current" class="text-danger"></span>
    </div>
    <button type="submit" style="margin-top:10px" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
